Repository mateusz-kurowski/AI_Contacts_app: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, format-backend, test-backend-unit

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-frontend:
      glob: "frontend/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      exclude:
        - "frontend/src/components/ui/**"
        - "frontend/src/lib/**"
      run: npx @biomejs/biome check --staged --write --no-errors-on-unmatched --files-ignore-unknown=true
      stage_fixed: true
      root: frontend

    format-backend:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
      root: backend

    test-backend-unit:
      glob: "*.go"
      run: go test -short -timeout=10s ./...
      root: backend

pre-push:
  parallel: true
  commands:
    check-frontend:
      glob: "frontend/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      exclude:
        - "frontend/src/components/ui/**"
        - "frontend/src/lib/**"
      run: npx @biomejs/biome ci --no-errors-on-unmatched {push_files}
      root: frontend

    test-backend-integration:
      run: go test -tags=integration -timeout=30s ./...
      root: backend

    test-backend-all:
      run: go test -timeout=60s ./...
      root: backend

fix: fix /db module location
  backend/tests/integration_test/integrations_tests_test.go
Due: format-backend, test-backend-unit

feat: backend swagger docs
  backend/README.md
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/contacts.go
  backend/internal/handlers/contacts_dtos.go
  backend/internal/handlers/response.go
  backend/internal/routing/setup.go
  backend/main.go
Due: format-backend, test-backend-unit

fix: api routes
  frontend/.env.development
  frontend/package.json
  frontend/src/queries/contacts.ts
  frontend/vite.config.ts
Due: format-frontend

feat: minor changes
  .env.example
  authentik/.env.example
  authentik/compose.yml
  backend/.gitignore
  backend/compose.dev.yml
  backend/env/.env.example
  backend/internal/middleware/cors.go
  backend/internal/routing/setup.go
  compose.dev.yml
  compose.prod.yml
Due: format-backend, test-backend-unit

feat: tests and auth
  backend/env/.env.example
  backend/env/.env.prod
  backend/go.mod
  backend/go.sum
  backend/internal/config/env.go
  backend/internal/config/oauth.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/utils.go
  backend/internal/middleware/cors.go
  backend/internal/routing/setup.go
  backend/main.go
  backend/requests/auth/well-known-endpoints.bru
  backend/requests/collection.bru
  backend/requests/environments/dev.bru
  backend/tests/integration_test/integrations_tests_test.go
  todo.md
Due: format-backend, test-backend-unit

Refactor Docker Compose configurations and update dependencies
  backend/README.md
  backend/alembic/env.py
  backend/pyproject.toml
  backend/src/__init__.py
  backend/src/api/contacts.py
  backend/src/config/config.py
  backend/src/db/db.py
  backend/src/main.py
  backend/src/mcp/tools/contact.py
  backend/src/model/gemini.py
  backend/src/model/litellm_client.py
  backend/src/services/chat_service.py
  backend/src/services/mpc_client.py
  backend/uv.lock
  compose.dev.yml
  compose.local.yml
  frontend/Dockerfile
  frontend/package.json
  redis/conf.conf
  swe-requests/01-health-check.bru
  swe-requests/chat/hello.bru
  swe-requests/contacts/04-get-all-contacts.bru
  swe-requests/environments/dev.bru
Due: format-frontend

feat: enhance contact management with name-based operations and add screenshots
  README.md
  backend/src/config/config.py
  backend/src/mcp/tools/contact.py
  backend/src/services/chat_service.py
  backend/src/services/contact_service.py
  screenshots/1.png
  screenshots/10.png
  screenshots/2.png
  screenshots/3.png
  screenshots/4.png
  screenshots/5.png
  screenshots/6.png
  screenshots/7.png
  screenshots/8.png
  screenshots/9.png
Due: none

fix: add backend environment files to .gitignore
  .gitignore
Due: none

Refactor code structure for improved readability and maintainability
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: format-frontend
